.testimonial-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.testimonial-heading {
  font-size: 1.5rem;
  font-family: SansationBold;
  word-spacing: 3px;
  text-transform: capitalize;
  position: relative;
  margin-bottom: 20px;
  margin-top: 30px;
}
.underline {
  width: 247px;
  height: 12px;
  background-color: #ffbf4b;
  display: block;
  position: absolute;
  bottom: 0px;
  z-index: -1;
}
.testimonial-para {
  word-spacing: 5px;
  /* color: rgb(114, 114, 114); */
  color: rgb(0, 0, 0);
  font-family: SansationLight;
  padding-left: 24px;
  padding-right: 24px;
}
